.container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.left {
    max-width: 784px;
    max-height: 478px;
}

.left img {
    width: 100%;
    height: 100%;
}


.right {
    background: linear-gradient(180deg, #784BBB 0%, #4C2B7C 100%);
    border-radius: 50px;
    max-width: 466px;
    padding: 77px 29px;
    max-height: 478px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;

}

.right h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: center;

}

.right h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;
}

.select_parent {
    width: 100%;
    position: relative;
}


.select {
    position: inherit;
    z-index: 25;
    background: #4B2A7B;
    border-radius: 77px;
    border: 0;
    padding: 13px 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
}

.select span:nth-child(2) {
    margin-left: auto;
}



.hidden {
    background: #2d1353;
    border-radius: 0 0 15px 15px;
    border: 0;
    padding: 13px 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    width: 100%;

    position: absolute;
    top: 50%;
    cursor: pointer;
}

.hidden div {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #784BBB;
    padding: 5px 5px 15px;
}

.hidden div:first-child {
margin-top: 20px;
}
.hidden div:last-child {
border: 0;
}

.button_holder {
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 29px;
}


.button_holder input {
    border: 2px solid #FFFFFF;
    border-radius: 77px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    padding: 5px;

    max-width: 190px;
}

.button_holder input::placeholder {
    color: #FFFFFF;
}

.button_holder button {
    background: #FFFFFF;
    border-radius: 77px;
    padding: 10px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    cursor: pointer;
}

.button_holder button span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #4B2A7B;
}



.counter {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.counter span#change_c {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF;
    margin: 5px;
}


.right h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.social_media {
    display: flex;
    gap: 18px;
    /* add a background after importing the right svgs */
}

.social_media svg {
    background: #FFFFFF;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;

}


@media all and (max-width: 797px) {
    .left {
        display: none;
    }
}