.card__container {
    position: relative;
    width: 323px;
    min-height: 286.33px;
    background: #FFFFFF;
    box-shadow: 8px 0px 24px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}


.card__upper {
    position: relative;
}

.card__upper::before {
    content: "";
    width: 323px;
    height: 90px;
    background: linear-gradient(180deg, rgba(75, 42, 123, 0) 35.94%, #4B2A7B 100%);
    border-radius: 30px 30px 0px 0px;
    color: red;
    font-weight: bold;
    bottom: 0;
    position: absolute;
    z-index: 9;
}

.card__upper img {
    border-radius: 30px 30px 0px 0px;
    width: 323px;
    height: 155px;

}


.card__upper div {
    position: absolute;
    z-index: 99;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    background: #F0F0F0;
    border-radius: 100px;
    padding: 1px 38px;
    max-width: 122px;
    margin: auto;
    text-align: center;
}

.card__lower {
    margin-top: 19px;
    display: flex;
    gap: 57px;
    justify-content: center;
}

.card__lower_left h1 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #363636;
}

.card__lower_left .dead_line {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #363636;
}

.card__lower_left .location_city {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    color: #363636;

}

.counter {
    margin-top: 11px;
    display: flex;
    align-items: center;
}

.counter span#change_c {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
    margin: 5px;
}

.card__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
    background: #4B2A7B;
    border-radius: 178px;
    padding: 4px 15px;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0 0px 0 #2a1052;
    transition: all .5s ease;
}



.card__button:hover {
    box-shadow: 0 5px 0 #2a1052;
    transform: translateX(-50%) translateY(-7px);
}

.card__button:active {
    box-shadow: 0 0px 0 #2a1052;
    transform: translateX(-50%) translateY(0px);
}

.card__price_item {
    margin-top: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #363636;
}

.card__price_item div {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #4B2A7B;
}