
.card__container {
    position: relative;
    width: 370px;
    min-height: 319px;
    background: #FFFFFF;
    box-shadow: 8px 0px 24px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}


.card__container_expired{
    position: relative;
    width: 370px;
    min-height: 319px;
    background: #FFFFFF;
    box-shadow: 8px 0px 24px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    opacity: 0.7;
}

.card__upper_expired::before {
    content: "";
    width: 370px;
    height: 90px;
    background: linear-gradient(180deg, rgba(221, 0, 37, 0) 35.94%, #d10538 100%);
    border-radius: 30px 30px 0px 0px;
    font-weight: bold;
    bottom: 0;
    position: absolute;
    z-index: 9;
}


.card__upper {
    position: relative;
}

.card__upper::before {
    content: "";
    width: 370px;
    height: 90px;
    background: linear-gradient(180deg, rgba(75, 42, 123, 0) 35.94%, #4B2A7B 100%);
    border-radius: 30px 30px 0px 0px;
    font-weight: bold;
    bottom: 0;
    position: absolute;
    z-index: 9;
}

.card__upper img {
    border-radius: 30px 30px 0px 0px;
    width: 370px;
    height: 177px;

}


.card__upper div {
    position: absolute;
    z-index: 9;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: #F0F0F0;
    border-radius: 100px;
    color: #363636;
    padding: 4px 45px;
    max-width: 140px;
    margin: auto;
    text-align: center;
}

.card__lower {
    margin-top: 17px;
    display: flex;
    gap: 61px;
    justify-content: center;
}

.card__lower_left h1 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: left;
    color: #363636;
    text-transform: uppercase;

}

.card__lower_left .dead_line {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    text-transform: capitalize;
}

.card__lower_left .location_city {
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #363636;
    text-transform: capitalize;
}

.card__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #4B2A7B;
    border-radius: 178px;
    padding: 5px 18px;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s ease;
    transform-origin: left top;
    width: 97px;
    height: 27px;

}


.card__button:hover {
    padding: 10px 18px;
    width: 120px;
    height: 35px;
}


.card__button_sold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #cf0d0d;
    border-radius: 178px;
    padding: 5px 18px;
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);

    transition: all .5s ease;
    transform-origin: left top;
    width: 97px;
    height: 27px;
    cursor: not-allowed;
}


.card__price_item {
    margin-top: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #363636;
}

.card__price_item div {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #4B2A7B;
}



