.shadow {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 99999999;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    padding: 15px;
}

.container {
    position: fixed;
    z-index: 999999999999;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    display: flex;
    gap: 45px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 25px;
    background-color: bisque;
    max-width: 600px;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
}

.container h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    line-height: 92.52%;
    text-transform: uppercase;
    color: #000000;
    text-align: center;

}

#par {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 92.52%;
    text-align: center;
    color: #000000;
}

.container button {
    border: 0;
    cursor: pointer;
    border-radius: 25px;
    padding: 16px 45px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 92.52%;
    text-align: center;
    color: #000000;
}
