
.counter {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.counter span#change_c {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
    margin: 5px;
}
