/*________________-DROP SECTION__________________*/

.drop {
  padding: 33px 20px;
}

.drop__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(228px, 250px));
  align-items: center;
  justify-content: center;
  column-gap: 26px;
  row-gap: 26px;

}

.drop__element {
  position: relative;
}


.drop__element .drop__element_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F7F7F7;
  border-radius: 38px;
  padding: 13px 33px;
  cursor: pointer;
  position: relative;
  transition: all .5s ease;
  color: #000000;


}




.drop__element .drop__element_container span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;

}

.drop__element .drop__element_container:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 6px rgba(247, 247, 247, 0.9);
  -webkit-box-shadow: 0px 0px 0px 6px rgba(247, 247, 247, 0.9);
  -moz-box-shadow: 0px 0px 0px 6px rgba(247, 247, 247, 0.9);
}


.drop__hidden {
  position: absolute;
  z-index: 19;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.drop__hidden span:nth-child(1) {
  padding-top: 45px;
}

.drop__hidden span:last-child {
  border-radius: 0 0 38px 38px;

}

.drop__hidden span {
  padding: 15px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #A6A6A6;
  background-color: #ffffff;
  height: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #281641;
  width: 100%;
  cursor: pointer;
  color: rgb(0, 0, 0);

}



.flex {
  display: flex;
}

.test {
  height: 100vh;
  background-color: #faf9ff;
}


.active {


  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F7F7F7;
  border-radius: 38px;
  padding: 13px 33px;
  cursor: pointer;

  position: relative;
  z-index: 9;

  transition: all .5s ease;
  background-color: #37d486a1;
  color: #FFFFFF;
  box-shadow: 0px 0px 0px 6px rgba(247, 247, 247, 0.9);
  -webkit-box-shadow: 0px 0px 0px 6px rgba(247, 247, 247, 0.9);
  -moz-box-shadow: 0px 0px 0px 6px rgba(247, 247, 247, 0.9);
}



.active span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;

}



.circle {
  border: 1px solid #707070;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: relative;
  padding: 10px;
}
.inner_c {
  content: "";
  background: #707070;
  width: 11px;
  height: 11px;
  border-radius: 50%;

  position: absolute;
  
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

.comming_soon{
  color: #707070;
  cursor: alias;
}

