.cont div svg {
    position: absolute;
    z-index: 9999;
    top: 40px;
    right: 40px;
    margin: auto;
    transform: translateY(-50%);
    cursor: pointer;
}



.parent {
    background: #F7F7F7;
    border-radius: 30px;
    max-width: 1100px;
    padding: 25px 15px;

    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}



.parent h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 3vw;
    font-size: 29px;
    line-height: 37px;
    color: #000000;
    text-align: center;
}


.container {
    margin-top: 4.8vw;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    gap: 2.5vw;
}

.left {
    max-width: 500px;
    max-height: 251px;

}

.left img {
    width: 100%;
    border-radius: 20px;
}

.right {
    max-width: 435px;
    /* max-height: 45vw; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}

.header {
    background: #FFFFFF;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 1.5vw;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}


.infos {
    padding: 1.5vw;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
    font-size: 14px;
    line-height: 22px;

    color: #464646;
}

.buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 52px;
    gap: 3.5vw; */
    gap: 25px;

}

.buttons button {
    background: #4B2A7B;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 11px 25px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0px 0 #2a1052;
    transition: all .5s ease;
    border: 2px solid #4B2A7B;

}

.buttons button:last-child {
    color: #4B2A7B;
    background: #FFFFFF;
    border: 2px solid #4B2A7B;
    border-radius: 40px;
}

.buttons button:hover {
    box-shadow: 0 7px 0 #2a1052;
    transform: translateY(-7px);
}

.buttons button:active {
    box-shadow: 0 0px 0 #2a1052;
    transform: translateY(0px);
}




.background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}

.cross svg {
    color: #3d3d3d;
    transition: all .5s ease;
}

.cross svg:hover {
    color: #000000;
}


@media all and (max-width: 952px) {
    .container {
        flex-direction: column;
    }

    .buttons {
        margin-top: 5px;
    }

    .right {
        gap: 26px;
    }

}