.container {
    background: #FAFAFA;
    border-radius: 40px;
    padding: 69px 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
}

.left {
    max-width: 438px;
}

.left h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    display: flex;
    align-items: center;
    color: #000000;
}

.left p {
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.social_media {
    margin-top: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.social_media svg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #4285F4;
    padding: 12px;
    cursor: pointer;
}

.social_media svg:first-child {
    background: #55ACEE;

}

.social_media svg:last-child {
    background: #4B2A7B;

}


.right {
    max-width: 530px;
}

.right div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.right div input {
    background: #FFFFFF;
    border-radius: 60px;
    padding: 17px 30px;
    border: 0;


    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.right div input::placeholder {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(112, 112, 112, 0.8);
}

.right input {
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 60px;
    width: 100%;
    padding: 17px 30px;
    border: 0;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}


.right input::placeholder {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(112, 112, 112, 0.8);
}

.right textarea {
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 29px;
    border: 0;
    padding: 18px 30px;
    width: 100%;
    height: 207px;
    resize: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}


.right textarea::placeholder {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(112, 112, 112, 0.8);

}

.button_holder {
    margin-top: 30px;
    width: 100%;
}

.right button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    background: #4B2A7B;
    border-radius: 60px;
    padding: 18px 72px;
    border: 0;
    cursor: pointer;
    margin: auto;
}


@media all and (max-width: 1034px) {
    .left {
        max-width: 300px;
    }

    .left h1 {
        font-size: 5vw;
    }

    .left p {
        font-size: 3vw;
    }


}

@media all and (max-width: 773px) {
    .container {
        flex-direction: column;
    }


    .right div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .right div input {
        border-radius: 60px;
        padding: 10px 25px;
        font-size: 20px;
    }
    
    .right div input::placeholder {
        font-size: 20px;
    }
    
    .right input {
        padding: 10px 25px;
        font-size: 20px;
    }
    
    
    .right input::placeholder {
        font-size: 20px;
    }

    .right textarea {
        padding: 10px 25px;
        font-size: 20px;
    }


    .right textarea::placeholder {
        font-size: 20px;
    }


    .right button {
        font-size: 20px;
        padding: 10px 50px;
    }




}