.container::-webkit-scrollbar {
    width: 19px;

}

.container::-webkit-scrollbar-track {
    background: transparent;

}

.container::-webkit-scrollbar-thumb {
    background-color: #b692eb9a;
    border-radius: 20px;
    border: 5px solid #ddd8e6;
}



.container {
    height: 596px;
    max-width: 920px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FAFAFA;
    border-radius: 40px;
}


@media all and (max-width: 967px) {

}