.container h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
}

.container h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}


.payment .inpt {
    margin-right: 24px;
    margin-top: 15px;
}

.container label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.container p {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;

    margin-left: 35px;
}

.inpt {
    display: flex;
    align-items: center;
    gap: 11px;
}

.circle {
    width: 20px;
    height: 20px;
    background: #FAFAFA;
    border: 3px solid #707070;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
}

.circle_active {
    width: 20px;
    height: 20px;
    background: #FAFAFA;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-color: #01bd4f;
    transition: all .4s ease;
}



.inner_circle {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #707070;
}

#terms {
    border: 3px solid #01bd4f;
}