.wrapper {
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

}



/*------------MENU SECTION--------------*/
.navmenu {
  padding: 25px 70px;
  position: absolute;
  z-index: 99;
  width: 100%;
}


.menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__container ul {
  display: flex;
  align-items: center;
}

.menu__container ul li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #4B2A7B;
}


.menu__container ul.menu__left {
  gap: 46px;
}


.menu__container ul.menu__right {
  gap: 46px;
}

.menu__right li svg {
  cursor: pointer;
  transition: all .5s ease;
  color: #4B2A7B;
}
.menu__right li svg:hover {
  transform: scale(1.2);
}




.menu__buttons {
  display: flex;
  gap: 16px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #4B2A7B;


}


.menu__buttons a {
  transition: all .5s ease
}

.menu__buttons a:nth-child(1) {
  padding: 10px 28px;
  border: 2px solid #4B2A7B;
  border-radius: 95px;
}

.menu__buttons a:nth-child(2) {
  padding: 10px 28px;
  background: #4B2A7B;
  border: 2px solid #4B2A7B;
  border-radius: 95px;
  color: #FFFFFF;
}

.menu__buttons a:nth-child(1):hover,
.menu__buttons a:nth-child(2):hover {
  box-shadow: 0px 0px 11px 0px rgba(75, 42, 123, 0.75);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(75, 42, 123, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(75, 42, 123, 0.75);
}

.menu__buttons a:nth-child(2):hover {
  border-color: #ffffff;

}


.menu__buttons a:nth-child(1):active,
.menu__buttons a:nth-child(2):active {
  transform: scale(.8);
  color: #4B2A7B;
}



/* 
@keyframes zoomInOut {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
} */


.pannier {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
  padding: 12px 17.5px;
  background: #4B2A7B;
  border-radius: 95px;
}

.pannier span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;

}



.pop {
  display: flex;
  background-color: #4B2A7B;
  height: 100px;
  width: 100px;
  position: sticky;
  top: 0;
  left: 0;
}



/* 
@media all and (max-width: 1012px) {
  .menu__left li.disapear {
    display: none;
  }

  .menu__container {
    justify-content: center;
    gap: 5vw;
  }
}

@media all and (max-width: 659px) {
  .menu__buttons {
    flex-direction: column;
    gap: 5px;
  }
} */


/*------------*/

.popupParent {
  position: relative;
}

.popupParent svg {
  cursor: pointer;
}

.popup {
  margin-top: 13px;
  position: absolute;
  z-index: 2;
  right: 0;
  background: #FAFAFA;
  border-radius: 15px;
  width: 292px;
  height: 308px;
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;



  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}

.profile span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #281641;
}



.popup a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #281641;
  border: 1px solid #a6a6a659;
  border-width: 1px 0 0;
  padding: 21px;
}

/*------MOBILE--------------*/


.mobile {
  position: fixed;
  z-index: 99999;
  height: 100vh;
  background-color: rgb(213, 206, 235);
  top: 0;
  left: 0;
  width: 100vw;
}

.close {
  font-size: 80px;
  font-weight: 900;
  position: absolute;
  cursor: pointer;
  right: 50px;
}

.mobile nav {
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

.mobile nav div {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #4B2A7B;
  text-align: center;
  margin-top: 45px;
}

.mobile nav div:first-child,
.mobile nav div:nth-child(2) {
  display: none;
}

/*---------------hamberger---------*/

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 40px;
  height: 5px;
  background-color: #4B2A7B;
  border-radius: 15px;
  margin-top: 5px;
  transition: all .5s ease;
  opacity: 1;
  transform-origin: center;
}

.hamburger div:first-child {
  margin: 0;
}

.hamburger:hover div {
  transform: scale(.9);
}


@media all and (max-width: 1037px) {
  .navmenu {
    padding: 25px 15px;
  }

  .menu__container ul.menu__left {
    gap: 15px;
  }

  /* .hide {
    display: none;
  } */
  .menu__right li:nth-child(1),
  .menu__right li:nth-child(2),
  .disapear {
    display: none;
  }


  .hamburger {
    display: block;
  }



}


@media all and (max-width: 579px) {
  .menu__container ul.menu__right {
    gap: 20px;
  }

  .menu__right li:nth-child(3) {
    display: none;
  }

  .mobile nav div:first-child,
  .mobile nav div:nth-child(2) {
    display: block;
  }
}