.wrapper {
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

}



/*------------MENU SECTION--------------*/
.navmenu {
  padding: 25px 70px;
  position: absolute;
  z-index: 99;
  width: 100%;
}


.menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__container ul {
  display: flex;
  align-items: center;
}

.menu__container ul li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #4B2A7B;
}


.menu__container ul.menu__left {
  gap: 46px;
}


.menu__container ul.menu__right {
  gap: 46px;
}

.menu__buttons {
  display: flex;
  gap: 16px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #4B2A7B;


}


.menu__buttons a:nth-child(1) {
  padding: 10px 28px;
  border: 2px solid #4B2A7B;
  border-radius: 95px;
}

.menu__buttons a:nth-child(2) {
  padding: 10px 28px;
  background: #4B2A7B;
  border-radius: 95px;
  color: #FFFFFF;
}


.pannier {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
  padding: 12px 17.5px;
  background: #4B2A7B;
  border-radius: 95px;
}

.pannier span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;

}



.pop {
  display: flex;
  background-color: #4B2A7B;
  height: 100px;
  width: 100px;
  position: sticky;
  top: 0;
  left: 0;
}




@media all and (max-width: 1012px) {
  .menu__left li.disapear {
    display: none;
  }

  .menu__container {
    justify-content: center;
    gap: 5vw;
  }
}

@media all and (max-width: 659px) {
  .menu__buttons {
    flex-direction: column;
    gap: 5px;
  }
}


/*------------*/

.popupParent {
  position: relative;
}

.popupParent svg {
  cursor: pointer;
}

.popup {
  margin-top: 13px;
  position: absolute;
  z-index: 2;
  right: 0;
  background: #FAFAFA;
  border-radius: 15px;
  width: 292px;
  height: 308px;
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #281641;
}


.popup a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #281641;
  border: 1px solid #a6a6a659;
  border-width: 1px 0 0;
  padding: 21px;
}



@media all and (max-width: 803px) {
  .menu__container ul.menu__left {
    gap: 15px;
  }

  .hide {
    display: none;
  }
}

@media all and (max-width: 579px) {
  .menu__container ul.menu__right {
    gap: 20px;
  }
}