/*------------MENU SECTION--------------*/
.navmenu {
    padding: 25px 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container ul {
    display: flex;
    align-items: center;
}

.container ul li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #4B2A7B;
}


.menu__left {
    gap: 46px;
}

.menu__left li.hide {
    background-color: #ebddff00;
    padding: 10px 17px;
    border-radius: 10px;
    transition: all .3s ease;
    font-weight: 600;
    cursor: pointer;
}

.menu__left li.hide:hover {
    background-color: #ebddff;
}



.menu__right {
    gap: 46px;
}

.menu__right li a {
    cursor: pointer;
}


.pannier {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
    padding: 11px 29px;
    background: #4B2A7B;
    border-radius: 95px;
    box-shadow: 0 0px 0 #2a1052;
    transition: all .5s ease;
}

.pannier:hover {
    box-shadow: 0 7px 0 #2a1052;
    transform: translateY(-7px);
}

.pannier:active {
    box-shadow: 0 7px 0 #2a1052;
    transform: translateY(-7px);
    box-shadow: 0 0px 0 #2a1052;
    transform: translateY(0px);
}

.pannier span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.logout {
    background: #ffffff;
    border: 2px solid #4B2A7B;
    border-radius: 95px;
    padding: 11px 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000 !important;
    transition: all .3s ease;
    cursor: pointer;
}

.logout:hover {
    background-color: #4B2A7B;
    color: #FFFFFF !important;
}


.popupParent {
    position: relative;
}

.popupParent svg {
    cursor: pointer;
}

.popup {
    margin-top: 13px;
    position: absolute;
    z-index: 2;
    right: 0;
    background: #FAFAFA;
    border-radius: 15px;
    width: 292px;
    height: 308px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    justify-content: flex-end;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}


.popup a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: #281641;
    border: 1px solid #a6a6a659;
    border-width: 1px 0 0;
    width: 100%;
    padding: 21px;
    transition: all .3s ease;
}

.popup a:hover {
    color: rgb(225, 0, 255);
}

.profile {
    padding: 21px 0;
}


.profile a {
    border-width: 0;
}

.cross {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 7px;
}

.cross svg {
    width: 15px;
    transition: all .3s ease;
}

.cross svg:hover {
    color: red;
}


/*------MOBILE--------------*/


.mobile {
    position: fixed;
    z-index: 99999;
    height: 100vh;
    background-color: rgb(213, 206, 235);
    top: 0;
    left: 0;
    width: 100vw;
}

.close {
    font-size: 80px;
    font-weight: 900;
    position: absolute;
    cursor: pointer;
    right: 50px;
}

.mobile nav {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}

.mobile nav div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #4B2A7B;
    text-align: center;
    margin-top: 45px;
}

.mobile nav div:first-child,
.mobile nav div:nth-child(2) {
    display: none;
}


/*---------------hamberger---------*/

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 40px;
    height: 5px;
    background-color: #4B2A7B;
    border-radius: 15px;
    margin-top: 5px;
    transition: all .5s ease;
    opacity: 1;
    transform-origin: center;
}

.hamburger div:first-child {
    margin: 0;
}

.hamburger:hover div {
    transform: scale(.9);
}


@media all and (max-width: 1137px) {

    .menu__left {
        gap: 10px;
    }

    .menu__right {
        gap: 18px;
    }

    .menu__left li.hide {
        padding: 10px 5px;
    }

}

@media all and (max-width: 1037px) {
    .navmenu {
        padding: 25px 15px;
    }

    .container ul.menu__left {
        gap: 15px;
    }

}


@media all and (max-width: 855px) {
    /* your content here */
}

@media all and (max-width: 855px) {
    .hamburger {
        display: block;
    }

    .menu__right li:nth-child(1),
    .menu__right li:nth-child(2),
    .disapear {
        display: none;
    }

    .menu__left li:nth-child(2),
    .menu__left li:nth-child(3),
    .menu__buttons,
    .disapear {
        display: none;
    }

    .container ul.menu__right {
        gap: 20px;
    }

    .menu__right li:nth-child(3) {
        display: none;
    }

    .mobile nav div:first-child,
    .mobile nav div:nth-child(2) {
        display: block;
    }
}

/* 
@media all and (max-width: 654px) {

    .menu__left li:nth-child(2),
    .menu__left li:nth-child(3),
    .menu__buttons,
    .disapear {
        display: none;
    }
} */


@media all and (max-width: 579px) {
    .container ul.menu__right {
        gap: 20px;
    }

    .menu__right li:nth-child(3) {
        display: none;
    }

    .mobile nav div:first-child,
    .mobile nav div:nth-child(2) {
        display: block;
    }
}