.cont {
    padding: 204px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
}

.flex_start {
    /* align-self: flex-start; */
    max-width: 920px;

}


@media all and (max-width: 1037px) {

    .flex_start {
        align-self: flex-start;

    }

}

@media all and (max-width: 662px) {
    .flex_start{
        align-self: center;
    }
    .cont {
        padding: 204px 15px;
    }
}