.form__container {
    position: fixed;
    z-index: 9999999;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    padding: 35px 74px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 60px;
    max-width: 420px;

    overflow-y: hidden;
}


.form__container input{
    
}


.form__container h1 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.name {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 51px;
}


.form__container input::placeholder {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: rgba(112, 112, 112, 0.8);
}

.form__container input {
    width: 100%;
    background: #FFFFFF;
    border-radius: 60px;
    padding: 10px 20px;
    border: 0;
}


.em {
    margin-top: 15px;
}


.pass {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

}

.pass div {
    position: absolute;
    right: 15px;
    cursor: pointer;
}


.pass div svg {
    width: 15px;
    height: 15px;
    color: #000000;
    opacity: 0.456;
    margin-top: 5px;
}


.form__container h4 {
    margin-top: 20px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 31px;

    color: #707070;
}


.social__media {
    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}



.social__media svg {
    background: #4285F4;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px;

    cursor: pointer;
}

.social__media svg:first-child {
    background: #55ACEE;
}

.social__media svg:last-child {
    background: #3B5998;
}

.form__container input {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}


.form__container button {
    cursor: pointer;
    margin-top: 29px;
    border: 0;
    background-color: #4B2A7B;
    border-radius: 60px;
    padding: 10px 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
    box-shadow: 0 0px 0 #2a1052;
    transition: all .5s ease;
}

.form__container button:hover {
    box-shadow: 0 7px 0 #2a1052;
    transform: translateY(-7px);
}

.form__container button:active {
    box-shadow: 0 0px 0 #2a1052;
    transform: translateY(0px);
}


.anchor {
    margin-top: 12px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #4B2A7B;
}