

.form__container {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);

    padding: 35px 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 60px;
    max-width: 699px;


    overflow-y: hidden;
}

.form__container h1 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.name{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;
}
.name input{
    max-width: 250px;
}


.form__container input::placeholder {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: rgba(112, 112, 112, 0.8);
}

.form__container input {
    width: 100%;
    background: #FFFFFF;
    border-radius: 60px;
    padding: 17px 30px;
    border: 0;
}


.em {
    margin-top: 50px;
}


.pass {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

}

.pass div {
    position: absolute;
    right: 15px;
    cursor: pointer;
}



.form__container h4 {
    margin-top: 30px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;

    color: #707070;
}


.social__media {
    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;


}



.social__media svg {
    background: #4285F4;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 16px;

    cursor: pointer;
}

.social__media svg:first-child {
    background: #55ACEE;
}

.social__media svg:last-child {
    background: #3B5998;
}

.form__container input {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}


.form__container button {
    cursor: pointer;
    margin-top: 29px;
    border: 0;
    background-color: #4B2A7B;
    border-radius: 60px;
    padding: 17px 52px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    transition: all .6s ease;
}

.form__container button:hover {
    font-size: 28px;
    background-color: #914df7;

}


.anchor {
    margin-top: 16px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #4B2A7B;
}