.container {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    background: #4B2A7B;
    border-radius: 95px;
    padding: 14px 38px;
    box-shadow: 0 0px 0 #2a1052;
    transition: all .5s ease;
    cursor: pointer;
}





.container:hover {
    box-shadow: 0 7px 0 #2a1052;
    transform: translateY(-7px);
}


.container:active {
    box-shadow: 0 0px 0 #2a1052;
    transform: translateY(0px);
}

@media all and (max-width: 662px) {
    .container {
        font-size: 20px;
        line-height: 25px;
        padding: 14px 15px;

    }


}